@model List<Project3.Models.Feedbacks>

@{
    Layout = "~/Views/Shared/_layoutadmin.cshtml";
}
<br /><br /><br />
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Feedback Management</h5>
            <div class="card">
                <div class="card-body p-4">
                    <div class="container mt-5 px-2">
                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <input type="text" class="form-control" placeholder="Search">
                                <button type="button" class="btn btn-primary btn-search ms-2">Search</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-responsive table-borderless">
                                <thead>
                                    <tr class="bg-light">
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Subject</th>
                                        <th>Message</th>
                                        <th scope="col" width="10%">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var feedback in Model)
                                    {
                                        <tr>
                                            <td>@feedback.Name</td>
                                            <td>@feedback.Email</td>
                                            <td>@feedback.Subject</td>
                                            <td style="text-overflow: ellipsis; max-width: 200px; white-space: nowrap; overflow: hidden;">
                                                @feedback.Message
                                            </td>
                                            <td>
                                                <a asp-controller="Admin" asp-action="admin_feedback_view" asp-route-id="@feedback.FeedbackId" class="btn btn-outline-primary m-1">View</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
